/* MPI ICM ONLY */
.topo-contato { background: var(--primary-color); padding: 10px 0; position: sticky; top: 0; z-index: 999; }
.topo-contato span { font-size: 22px; color: white; }

.topo-contato .btn { text-align: center; border-radius: 3px; font-size: .8em; font-weight: 700; letter-spacing: 0.38px; box-shadow: 0 15px 10px -15px #111; width: 90%;  margin: 0;}
.topo-contato .btn-white { background: #fff; color: var(--primary-color); }
.topo-contato .btn-whatsapp { background: #28a745; }
.topo-contato .btn-whatsapp:hover { background: #218838; opacity: 1; }

.mpi-rules .form :is(input, textarea) { min-width: 380px; width: 100%; }

.mpi-rules h1  { text-align: center; }
.mpi-rules article.full * { text-align: center; }
.mpi-rules article.full :is(h2, h3) { text-transform: uppercase; font-size: 18px; }
.mpi-rules article.full .list { display: flex; flex-flow: column; align-items: center; }

.mpi-rules .content-call { padding: 20px; }

.expand-content { color: #9a9a9a; background-image: linear-gradient(transparent 11px, #9a9a9a 11px, #9a9a9a 12px, transparent 1px); margin: 10px 0; display: block; cursor: pointer; }
.expand-content span { background: white; padding: 10px; }

.mpi-rules .mpi-article { float: left; width: 67.5%; }
.mpi-rules .mpi-article p { margin: 1em 0; }
.mpi-rules .mpi-article strong { font-weight: normal; }

.aside-form { -webkit-box-sizing: border-box; box-sizing: border-box; padding: 20px; border-radius: 10px; -webkit-box-shadow: 0 0 15px -10px #000; -webkit-box-shadow: 0 0 15px -10px #000; box-shadow: 0 0 15px -10px #000; text-align: center; background-color: #fff; }
.aside-form h2 { font-weight: 900; text-transform: uppercase; font-size: 1.15rem; margin-top: 0; }
.aside-form form label { font-size: .8em !important; text-transform: none; margin-bottom: 8px; display: block; }
.aside-form form :is(input, textarea) { font-size: .8em !important; text-align: center; display: block; width: 100%; height: calc(1.5em + .75rem + 2px); padding: .375rem .75rem; font-size: 1rem; font-weight: 400; line-height: 1.5; color: #495057; background-color: #fff; background-clip: padding-box; border: 1px solid #ced4da; border-radius: .25rem; margin-bottom: 16px; -webkit-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out; transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out; }
.aside-form form textarea { height: 100px; }

.aside-form .btn { font-size: 12px; font-weight: bold; width: 100%; margin: 5px 0; }
.aside-form .btn-aside-submit { background: #185abc; }
.aside-form .btn-aside-phone { background-color: var(--primary-color); }
.aside-form .btn-aside-whatsapp { background: #28a745; }

.aside-form .aside-social { font-size: 20px; width: 50%; margin: 20px auto; display: flex; justify-content: space-around; }
.aside-form .aside-social a { color: var(--primary-color); }

.mpi-rules aside .collapse-aside { -webkit-box-sizing: border-box; box-sizing: border-box; padding: 15px 20px; background-color: #fff; border-radius: 5px; -webkit-box-shadow: 0 0 15px -10px #000; box-shadow: 0 0 15px -10px #000; letter-spacing: .03em; text-align: center; text-transform: none; font-size: 1em !important; font-weight: bold; vertical-align: middle; user-select: none; cursor: pointer; }
.mpi-rules aside nav { background-color: #fff; border-radius: 10px; -webkit-box-shadow: 0 0 15px -10px #000; box-shadow: 0 0 15px -10px #000; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 10px; }
.mpi-rules aside li { margin: 0; padding: 10px; }
.mpi-rules aside li:not(:last-child) { border-bottom: 1px solid #e1e1e1; }
.mpi-rules aside li a { border-left: 0; padding: 0; font-size: 12px; }
.mpi-rules aside nav li a:hover, .mpi-rules aside nav li a.active-menu-aside { background-color: transparent; color: var(--dark); border: 0; }

.mpi-rules .tabs .tabs-btn * { display: inline-block; cursor: pointer; padding: 8px 16px; border-bottom: 3px solid transparent; margin: 0; transition: 0.3s; }
.mpi-rules .tabs .tabs-btn { margin: 30px 0; border-bottom: 1px solid #dee2e6; }
.mpi-rules .tabs .tabs-btn *.active-tab { color: var(--primary-color); border-color: var(--primary-color); }
.mpi-rules .tabs .tabs-btn *:hover { color: var(--primary-color); }

.mpi-rules .article-call { display: flex; align-items: center; }
.mpi-rules .article-call h2 { font-size: 28px; color: var(--primary-color); margin-bottom: 10px; }
.mpi-rules .article-call p { margin-top: 10px; font-size: 18px; }
.mpi-rules .article-call .btn { background-color: var(--primary-color); }

.grid.grid-related-posting { display: flex; align-items: center; justify-content: center; flex-wrap: wrap;}
.grid-related-posting img { width: 100%; height: 160px; object-fit: cover; }
.grid-related-posting a { position: relative; display: block; }
.grid-related-posting a h2 { position: absolute; top: 0; left: 0; margin: 0; display: flex; width: 100%; height: 100%; justify-content: center; align-items: center; background: var(--primary-color); color: #fff; text-transform: uppercase; font-weight: 200; transition: 0.3s; opacity: 0; color: white; padding: 15px; text-align: center; }
.grid-related-posting a:hover h2 { opacity: 1; }

/* SMALL DEVICE */
@media only screen and (max-width:576px) {
    .topo-contato span { display: block; text-align: center; font-size: 14px; }
    .topo-contato .btn { width: 100%; margin-bottom: 0; padding: 8px 15px; }
    .mpi-rules .mpi-article { width: 100%; }
    .mpi-rules .mpi-article img { width: 100%; }
    .mpi-rules .article-call { flex-flow: column; }
}
