/* BASE STYLES CSS */
* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	box-sizing: border-box;
}

/* SCROLL LATERAL */
::-webkit-scrollbar-track { background-color: #f0f0f0; }
::-webkit-scrollbar { width: 8px; background-color: var(--primary-color); }
::-webkit-scrollbar-thumb { background-color: var(--primary-color); }

:root {

	/* COLORS */
	--primary-color: #91ae00;
	--primary-light-color: #e38007;
	--grey: #464646;
	--dark: #272a2e;
	--light: #fff;
	--alert: #b31610;
	--sucsess: #4caf50;	

	/* FONTS */
	--primary-font: 'Montserrat', sans-serif;
	--secondary-font: 'Open Sans', sans-serif;
}

body {
	font: 16px/normal var(--primary-font);
	color: var(--grey);
	text-decoration: none;
}

h1, h2, h3, h4 {
	font-family: var(--primary-font);
	color: var(--primary-color);
	margin: 25px 0;
}
h1{
	font-size: 32px;
}
h2 {
	font-size: 26px;
}

h3, h4 {
	font-size: 20px;
}

p {
	font: 16px/normal var(--primary-font);
	margin: 1em 0;
	color: var(--grey);
	text-align: justify;
	line-height: 1.4em;
}

a {
	color: var(--primary-color);
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

hr {
	display: block;
	margin: 1em 0;
	height: 1px;
	border-top: 1px solid #ccc;
}

/* HEADER */
.topofixo {
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0;
	z-index: 999;
}

.topofixo .topo {
	display: none;
}

/* LARGE DEVICE */
@media only screen and (max-width:992px) {
	.topofixo {
		position: relative;
	}

	#header-block {
		display: none !important;
	}

	.flex-top-icons {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.flex-top-icons a {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 50px;
		height: 50px;
		margin: 5px;
		background: rgba(255, 255, 255, 0.1);
		color: #fff;
		border-radius: 50%;
		font-size: 22px;
	}

}

/* MENU */
header #menu {
	text-align: center;
}

header #menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

header #menu li {
	position: relative;
	display: inline-block;
}

header #menu a {
	display: block;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 8px 12px;
	text-align: center;
	-webkit-transition: .3s;
	transition: .3s;
}

/* ACTIVE MENU TOPO */
.active-menu-topo {
	color: var(--primary-color);
	font-weight: bold !important;
}

/* SUB MENU */
header #menu .dropdown :is(.sub-menu, .sub-menu-info) {
	display: none;
	margin: 0;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 7;
	width: 230px;
	height: auto;
	background-color: var(--primary-color);
}

header #menu .dropdown .sub-menu-info {
	overflow-x: hidden;
	overflow-y: auto;
	width: 230px;
	height: 400px;
}

header #menu ul > li.dropdown:hover > :is(.sub-menu, .sub-menu-info) {
	display: block;
}

header #menu ul > li.dropdown > :is(.sub-menu, .sub-menu-info) > li.dropdown > :is(.sub-menu, .sub-menu-info) {
	display: none;
	top: 0;
	left: 100%;
}

header #menu ul > li.dropdown > :is(.sub-menu, .sub-menu-info) > li.dropdown:hover > :is(.sub-menu, .sub-menu-info) {
	display: block;
}

header #menu .dropdown :is(.sub-menu, .sub-menu-info) li {
	position: relative;
	display: block;
	margin: 0;
	width: 100%;
	box-sizing: border-box;
	padding: 0 10px;
}

header #menu .dropdown :is(.sub-menu, .sub-menu-info) li:first-of-type {
	padding-top: 10px;
}

header #menu .dropdown :is(.sub-menu, .sub-menu-info) li:last-of-type {
	padding-bottom: 10px;
}

header #menu .dropdown :is(.sub-menu, .sub-menu-info) li a {
	display: block;
	width: 100%;
	box-sizing: border-box;
	font-size: 12px;
	padding: 10px;
	text-align: left;
	text-decoration: none;
	color: #fff;
}

header #menu .dropdown > :is(.sub-menu, .sub-menu-info) > li:hover > a {
	background-color: #fff;
	color: var(--primary-color);
}

/* SUB MENU SCROLL */
header #menu .dropdown :is(.sub-menu, .sub-menu-info).sub-menu-scroll {
	max-height: 400px;
	height: auto;
	overflow-y: auto;
	overflow-x: hidden;
}

/* MENU MOBILE */
.slicknav_menu { display: none; }
.slicknav_nav .fa { display: none; }
.slicknav_nav br { display: none; }
.slicknav_nav > ul { margin-left: 0; }
.slicknav_btn { position: relative; display: block; vertical-align: middle; float: right; padding: 0.438em 0.625em 0.438em 0.625em; line-height: 1.125em; cursor: pointer; }
.slicknav_menu .slicknav_menutxt { display: block; line-height: 1.188em; float: left; }
.slicknav_menu .slicknav_icon { float: left; margin: 0.188em 0 0 0.438em; }
.slicknav_menu .slicknav_no-text { margin: 0 }
.slicknav_menu .slicknav_icon-bar { display: block; width: 1.125em; height: 0.125em; -webkit-border-radius: 1px; -moz-border-radius: 1px; border-radius: 1px; -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); }
.slicknav_btn .slicknav_icon-bar+.slicknav_icon-bar { margin-top: 0.188em }
.slicknav_nav { clear: both }
.slicknav_nav ul, .slicknav_nav li { display: block }
.slicknav_nav .slicknav_arrow { font-size: 0.8em; margin: 0 0 0 0.4em; }
.slicknav_nav .slicknav_item { cursor: pointer; }
.slicknav_nav .slicknav_row { display: block; }
.slicknav_nav a { display: block }
.slicknav_nav .slicknav_item a, .slicknav_nav .slicknav_parent-link a { display: inline }
.slicknav_menu:before, .slicknav_menu:after { content: " "; display: table; }
.slicknav_menu:after { clear: both }
.slicknav_menu { font-size: 16px; }
.slicknav_btn { margin: 5px 5px 6px; text-decoration: none; text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; background-color: var(--primary-color); }
.slicknav_menu .slicknav_menutxt { color: #FFF; font-weight: bold; text-shadow: 0 1px 3px #000; }
.slicknav_menu .slicknav_icon-bar { background-color: #f5f5f5; }
.slicknav_menu { background: var(--dark); padding: 5px; }
.slicknav_nav { color: #fff; margin: 0; padding: 0; font-size: 0.875em; }
.slicknav_nav, .slicknav_nav ul { list-style: none; overflow: hidden; }
.slicknav_nav ul { padding: 0; margin: 0 0 0 20px; }
.slicknav_nav .slicknav_row { padding: 5px 10px; margin: 2px 5px; }
.slicknav_nav a { padding: 5px 10px; margin: 2px 5px; text-decoration: none; color: #fff; }
.slicknav_nav .slicknav_item a, .slicknav_nav .slicknav_parent-link a { padding: 0; margin: 0; }
.slicknav_nav .slicknav_row:hover { -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; background: #ccc; color: #fff; }
.slicknav_nav a:hover { -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; background: #ccc; color: #222; }
.slicknav_nav .slicknav_txtnode { margin-left: 16px; }

/* LARGE DEVICE */
@media only screen and (max-width:992px) {
	.js #menu2 { display: none; }
	.js #menu { display: none; }
	.js .slicknav_menu { display: block; z-index: 1; }
}


/* BROWSE HAPPY PROMPT */
.browsehappy { margin: 0.2em 0; background: #ccc; color: #000; padding: 0.2em 0; }

/* SCROLL UP BUTTON */
#scrollUp { position: fixed; bottom: -100px; right: 50px; z-index: 9999; width: 65px; height: 65px; display: flex; align-items: center; justify-content: center; border-radius: 5px 5px 0 0; background-color: var(--primary-color); cursor: pointer; opacity: 0; -webkit-transition: .3s; transition: .3s; }
#scrollUp:after { content: '\f077'; font: 18px/normal FontAwesome; color: #fff; }
#scrollUp.is-active { -webkit-transition: .5s; transition: .5s; bottom: 0; opacity: 1; }

/* BODY */
.wrapper {
	max-width: 1180px;
	width: 100%;
	margin: 0 auto;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 10px;
}

.container {
	width: 100%;
	padding: 25px 0;
	clear: both;
}

section {
	float: left;
	width: 100%;
}

article {
	float: left;
	width: 67.5%;
}

article.full {
	width: 100%;
}

/* SMALL DEVICE */
@media only screen and (max-width:576px) {
	article {
		float: none;
		width: 100%;
	}

}

/* BREADCRUMB BASE */
#breadcrumb {
	display: inline-block;
	clear: both;
}

#breadcrumb span[itemprop="title"] {
	font: 12px var(--primary-font);
	color: var(--grey);
	cursor: pointer;
	-webkit-transition: .3s;
	transition: .3s;
}

#breadcrumb div {
	display: inline;
}

/* SMALL DEVICE */
@media only screen and (max-width:576px) {
	#breadcrumb :is(span, li) {
		display: inline-block;
		max-width: 82px;
		-webkit-line-clamp: 1;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

}

/* ASIDE */
aside { float: left; width: 27.5%; margin-left: 5%; }
aside nav { list-style: none; list-style-type: none; margin: 0; padding: 0; max-height: 400px; height: auto; overflow-y: auto; overflow-x: hidden; }
aside nav > ul > li > ul { display: none; }
aside li { margin: 5px 0 0 0; }
aside .active-menu-aside { color: var(--primary-color); font-weight: bold !important; }

/* SMALL DEVICE */
@media only screen and (max-width:576px) {
	aside { width: 100%; float: none; margin: 15px 0; }
}

/* CARDS */
.card-group { display: grid; grid-template-columns: repeat(auto-fill, minmax(22%, auto)); grid-gap: 15px; }
.card { -webkit-box-sizing: border-box; box-sizing: border-box; border-radius: 3px; width: 100%; position: relative; overflow: hidden; -webkit-transition: .3s; transition: .3s; }
.card__image { display: block; width: 100%; object-fit: cover; -webkit-transition: .3s; transition: .3s; }
.card__title { font-size: 16px; color: var(--grey); -webkit-transition: .3s; transition: .3s; }
.card__text { font-size: 14px; color: var(--grey); }
.card__btn { display: inline-block; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 10px 15px; border-radius: 3px; font-size: 14px; background-color: var(--primary-color); color: #fff; -webkit-transition: .3s; transition: .3s; }
.card__overlay { position: absolute; opacity: 0; width: 100%; height: 100%; -webkit-transition: .5s; transition: .5s; }
.card:hover .card__overlay { opacity: 1; }

/* SMALL DEVICE */
@media only screen and (max-width:576px) {
	.card-group { display: block; }
	.card { margin: 12px auto; }
}

/* SMALL DEVICE TO LARGE DEVICE */
@media only screen and (min-width:576px) and (max-width:992px) {
	.card-group { grid-template-columns: repeat(auto-fill, minmax(44%, auto)); }
	.card { margin: 12px auto; }
}

/* CARD MPI */
.card--mpi .card__image { height: 240px; }
.card--mpi .card__image:hover { opacity: 0.8; }
.card--mpi .card__title { display: flex; justify-content: center; align-items: center; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0 5px; height: 45px; margin: 0; font-size: 12px; text-align: center; background: var(--primary-color); color: #fff; }
.card--mpi:hover .card__title { opacity: 0.8; }

/* BTN */
.btn {
	display: inline-block;
	margin: 1em 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 1em 2em;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	border-radius: 3px;
	background-color: var(--primary-color);
	color: #fff;
	-webkit-transition: .3s;
	transition: .3s;
}

.btn:hover {
	background-color: var(--primary-light-color);
}

/* SMALL DEVICE */
@media only screen and (max-width:576px) {
	.btn {
		display: block;
		width: 100%;
	}

}

/* SOCIAL ICONS */
.social { display: flex; align-items: center; gap: 1em; }
.social__icons { color: #fff; font-size: 1em; transition: .3s; }

/* TABELA */
.table { border-collapse: collapse; border-spacing: 0; table-layout: fixed; width: 100%; }
.table td { font-size: 12px; text-align: center; line-height: 30px; border-style: solid; border-width: 1px; overflow: hidden; word-break: normal; color: #000; }
.table th { font-size: 14px; font-weight: normal; padding: 10px 5px; border-style: solid; border-width: 1px; overflow: hidden; word-break: normal; }

/* LIST */
.list { margin: 0 0 20px 40px; }
.list li { list-style: disc; margin: 5px 0; line-height: 1.5em; font-size: 14px; text-align: left; }
.list--no-ls li { list-style: none; }

/* LAZY LOAD VIDEO */
[data-video] { cursor: pointer; position: relative; }
.ytvideo[data-video]:before { content: ''; position: absolute; top: 0; left: 0; height: 100%; width: 100%; background: rgba(0, 0, 0, 0.4); cursor: pointer; }
.ytvideo[data-video]:after { content: '\f04b'; position: absolute; z-index: 1; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%); font: 70px/normal FontAwesome; color: #333; text-shadow: 0px 0px 50px white; -webkit-transition: .3s; transition: .3s; }
[data-video]:hover:after { color: red; }
/* PESQUISA */

/* PESQUISA TOPO */
#header__search {
	width: 40px;
	position: relative;
}

#header__search:after {
	content: 'Ir para pesquisa no site';
	position: absolute;
	top: 100%;
	right: 10px;
	width: max-content;
	padding: 5px 10px;
	border-radius: 30px;
	background-color: #fff;
	text-align: center;
	color: var(--dark);
	box-shadow: 2px 2px 2px var(--grey);
	font-size: 12px;
	z-index: 1;
	opacity: 0;
	transition: .3s
}

#header__search:hover:after {
	opacity: 1
}

#header__search input {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: transparent;
	border: none;
	outline: none;
	margin: 0;
	z-index: 999;
	position: relative;
}

#header__search i {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	font-size: 16px;
	text-shadow: 3px 3px #000;
	z-index: 0;
}

/* PESQUISA PAGE */
#search {
	position: relative;
}

#search input {
	width: 100%;
	box-sizing: border-box;
	padding: 10px 12px;
	border: 1px solid #ccc;
	border-radius: 3px;
	color: var(--grey);
	font-size: 14px;
}

#search button {
	outline: none;
	text-decoration: none;
	background-color: transparent;
	border: none;
	color: var(--grey);
	font-size: 22px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 10px;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}

#search button:hover {
	color: var(--dark);
}

#searchThumb {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
	margin-top: 50px;
}

#searchThumb li {
	width: 100%;
	height: 65px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	background-color: var(--primary-color);
	border-radius: 5px;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}

#searchThumb li:after {
	content: '\f360';
	font: 26px/normal FontAwesome;
	position: absolute;
	top: -5px;
	right: -5px;
	color: #fff;
}

#searchThumb li:hover {
	background-color: var(--dark);
}

#searchThumb a {
	display: block;
	width: 100%;
	height: 100%;
	color: #fff;
	font-size: 16px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* MEDIUM DEVICE */
@media only screen and (max-width:768px) {
	#searchThumb {
		grid-template-columns: repeat(3, 1fr);
	}

}

/* SMALL DEVICE */
@media only screen and (max-width:576px) {
	#searchThumb {
		grid-template-columns: repeat(2, 1fr);
	}

}

/* FORMULARIO / CONTATO PAGE */
.form {
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: #fff;
}

.form *:focus, .form *:active {
	outline: unset;
}

.form :is(input, textarea, select) {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;

	width: 100%;
	margin: 0.5em 0;

	border: 1px solid var(--grey);
	border-radius: 3px;

	font: 12px/normal var(--primary-font);
	background-color: #fff;
	color: var(--grey);

	-webkit-transition: .3s;
	transition: .3s;
}

.form label, .form :is(input, textarea)::placeholder {
	font: 12px/normal var(--primary-font);
	color: var(--grey);
}

.form [type="submit"] {
	max-width: 280px;
	width: 100%;
	margin-top: 1em;
	border: 1px solid var(--primary-color);
	font-size: 16px;
	text-transform: uppercase;
	color: #fff;
	background-color: var(--primary-color);
	cursor: pointer;
}

.form [type="submit"]:hover {
	background-color: var(--dark);
	border: 1px solid var(--dark);
}

.form__obrigatory {
	display: block;
	margin: 1em 0;
	font-size: 12px;
	color: var(--grey);
}

.address-map {
	width: 100%;
	height: 450px;
	margin: 15px 0;
}

.g-recaptcha {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

/* *** INCLUDES MPI *** */
	/* SAIBA MAIS */
	.more { margin-bottom: 20px; }
	.more h2 strong { font-size: 16px; }

	/* GALLERY */
	.gallery { display: grid; grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); grid-gap: 10px; }
	.gallery li { border-radius: 3px; overflow: hidden; }
	.gallery li img { width: 100%; height: 150px; object-fit: cover; -webkit-transition: .3s; -o-transition: .3s; transition: .3s; }
	.gallery li:hover img { opacity: 0.9; transform: scale(1.2); }

	/* SOCIAL MIDIA */
	.compartilhe { font-size: 0.75em; margin: 0.5em 0; display: block; font-weight: bold; }
	.social-media { display: inline-block; padding: 0; margin: 5px 0; }
	.social-media li { float: left; margin-right: 10px; }
	.bt-twitter { text-indent: -5000px; overflow: hidden; display: block; width: 55px; height: 20px; background: url(<?=$url?>imagens/icones/tweet.png) no-repeat 0 0; }
	.bt-twitter:hover { background-position: 0px -20px; }

	/* PAGINAS RELACIONADAS */
	.related-posting-title { font-size: 22px; }
	.related-posting { list-style: none; list-style-type: none; margin: 0; padding: 0; }
	.related-posting .row { clear: both; display: block; background: #eee; border-left: 3px solid var(--primary-color); padding: 10px 20px; transition: all .3s linear; min-height: 85px; margin: 0 0 2px 0; overflow: hidden; }
	.related-posting .row:hover { border-color: var(--DARK); }
	.related-posting .row img { display: block; float: left; width: 80px; height: 80px; border: 1px solid #ccc; margin: 0 10px 0 0; }
	.related-posting .row p { font-size: 12px; line-height: 16px; margin-bottom: 0; }
	.related-posting .row a { color: var(--grey); text-decoration: none; }
	.related-posting .row p a { color: #69747b; }
	.related-posting .row strong { font-size: 12px; }

	/* ORGANICTABS REGIOES */
	.organictabs--regioes { margin: 10px 0; }
	.organictabs--regioes .organictabs__menu { display: grid; grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); }
	.organictabs--regioes.brasil .organictabs__menu { grid-template-columns: repeat(auto-fit, minmax(35px, 1fr)); }
	.organictabs--regioes .organictabs__menu span { width: 100%; height: 60px; display: flex; align-items: center; justify-content: center; background-color: #ccc; color: #fff; text-align: center; font-size: 14px; cursor: pointer; transition: 0.3s; }
	.organictabs--regioes.brasil .organictabs__menu span { height: 40px; font-size: 10px; font-weight: bold; }
	.organictabs--regioes .organictabs__menu span.active-tab { background-color: #eee; color: var(--grey); }
	.organictabs--regioes .organictabs__content { padding: 20px; background-color: #eee; overflow: hidden; padding: 10px; }
	.organictabs--regioes .organictabs__content ul { display: grid; grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); grid-gap: 7px; }
	.organictabs--regioes .organictabs__content ul li { height: auto; display: flex; align-items: center; justify-content: flex-start; font-size: 12px; padding: 5px 0; border-bottom: 1px solid; }

	/* COPYRIGHT */
	.copyright { font-size: 10px; color: #999; margin-bottom: 15px; }
	.copyright a { font-size: 10px; color: #999; }
/* *** END INCLUDES MPI *** */

/* MAPA DO SITE */
.sitemap { margin-left: 30px; list-style: none; list-style-type: none; }
.sitemap li { font-size: 16px; margin: 10px 0; }
.sitemap li a { color: #777; font-size: 20px; line-height: 25px; text-decoration: none; }
.sitemap li a:hover { color: #222 !important; }
.sitemap li ul { margin-left: 35px; list-style: none; list-style-type: none; }
.sitemap li ul li { margin: 5px 0; padding: 0; }
.sitemap li ul li a { font-size: 12px; color: #777; }
.sitemap li ul li ul li { margin: 5px 0; }
.sitemap li ul li ul li a { font-size: 13px; color: #777; }
.sitemap li a:hover { color: #999; }
.sitemap i { display: none; }
.sitemap br { display: none; }

/* 404 */
.page-404 .container > .wrapper * { text-align: center; }
.title-404 { font-size: 12em; color: #fff; font-weight: 700; letter-spacing: 1px; text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgb(0 0 0 / 10%), 0 0 5px rgb(0 0 0 / 10%), 0 1px 3px rgb(0 0 0 / 30%), 0 3px 5px rgb(0 0 0 / 20%), 0 5px 10px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 20%), 0 20px 20px rgb(0 0 0 / 15%); }
.msg-404 { font-size: 22px; line-height: 34px; color: #A7A9AC; margin-bottom: 30px; }
.menu-404 a { display: block; line-height: 25px; }
.menu-404 a:hover { color: var(--dark); }

/* FOOTER */
footer {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 15px;
	clear: both;
}

.copyright-footer {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 15px 100px;
	background-color: #333;
}

.copyright-footer * {
	text-align: left;
	color: #eee;
	font-size: 10px;
}

.copyright-footer .selos {
	float: right;
}

.copyright-footer .selos strong {
	background: #fff;
	color: #363b36;
	padding: 3px 6px;
}

/* SMALL DEVICE */
@media only screen and (max-width:576px) {
	footer * {
		text-align: center;
	}

	footer .social {
		justify-content: center;
	}

	.copyright-footer {
		padding: 15px;
	}

	.copyright-footer * {
		text-align: center
	}

	.copyright-footer .selos {
		float: none;
		margin: 10px 0;
	}

}

/* WHATSAPP BUTTON */
.whatsbutton-popup, .whatsbutton-container { z-index: 9999998; }
.whatsbutton-popup { display: none; justify-content: center; align-items: center; position: fixed; font-family: 'Arial', sans-serif; }
.whatsbutton-layer { width: 100%; height: 100%; position: absolute; background: rgba(0, 0, 0, 0.7); z-index: -1; }
.whatsbutton-popup, .whatsbutton-layer { top: 0; left: 0; width: 100%; height: 100%; }
.whatsbutton-form { display: block; min-width: 280px; max-width: 400px; width: 28%; -webkit-animation-name: WhatsFormShow; -webkit-animation-duration: 1s; animation-name: WhatsFormShow; animation-duration: 1s; }
.disabledbutton { user-select: none !important; }
.wb-head, .wb-body { width: 100%; }
.wb-head { height: 16%; min-height: 80px; padding: 1em; background: #009688; border-radius: 10px 10px 0 0; }
.wb-body { display: flex; height: auto; overflow-y: auto; flex-wrap: nowrap; flex-direction: column; background: #e9e9e9; border-radius: 0 0 10px 10px; padding: 1em; }

/* COMPONENTS WB */
.wb-icon { float: left; width: 45px; height: 45px; overflow: hidden; position: relative; line-height: normal; margin-left: .4em }
.wb-icon img { width: 100%; height: 100%; object-fit: cover; object-position: left; }
.wb-info { float: left; display: block; color: #eee; padding-left: .9em; }
.wb-title, .wb-text, .wb-statusOn { clear: both; display: block; }
.wb-title { font-size: .8em; font-weight: bold; }
.wb-text { font-size: .75em; font-weight: normal; margin: .25em 0; }
.wb-statusOn { font-size: .75em; }
.wb-statusOn::before { content: ' '; width: 5px; height: 5px; margin: 6px 3px 0 0; background: #4be726; float: left; border-radius: 50%; }
.wb-label { display: block; font-size: .9em; padding: 6px; border-radius: 4px; width: 100%; height: auto; text-align: center; color: #8a6d3b; background-color: #fcf8e3; border-color: #faebcc; margin-bottom: .25em; }
.whatsbutton-form-input { margin: .5em 0; }
.box-input { position: relative; float: left; width: 100%; margin-bottom: .5em; }
.box-input .icon, .box-input .wb-input { padding: .6em .4em; height: 45px; }
.box-input .icon { float: left; width: 15%; border-radius: 25px 0 0 25px; background: #fff; display: flex; align-items: center; justify-content: center; }
.box-input .icon::after { color: #b96766; content: "!"; width: 18px; height: 18px; border-radius: 50%; background: #c80000; text-align: center; color: #fff; display: block; position: absolute; font-size: 12px; font-weight: 700; line-height: 18px; top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%); right: 13px; }
.box-input .icon svg { -ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg); }
.visibleError::after { opacity: 1 !important; }
.box-input .icon::after { opacity: 0; }
.box-input .wb-input { float: right; width: 85%; border: none; border-radius: 0 25px 25px 0; background: #fff; font-size: .8em }
.whatsbutton-popup .loader { display: none; margin: 1em auto; border: 3px solid #f8f8f8; border-top: 3px solid #009688; border-radius: 50%; width: 30px; height: 30px; animation: spin .5s linear infinite; }
.wb-sendMessage { background: #068377; color: #fff; font-weight: 500; font-size: 14px; line-height: 1.5; color: #fff; border-radius: 25px; background: #3dc15e; align-items: center; padding: 10px; border: none; -webkit-transition: all .4s; -o-transition: all .4s; -moz-transition: all .4s; transition: all .4s; margin: auto; float: none; outline: none; height: auto; display: flex; justify-content: center; align-items: center; margin-top: 1em; }
.wb-buttonClose { position: absolute; top: 2%; right: 1%; background: #009688; color: #fff; padding: 1em 1.35em; border-radius: 50%; cursor: pointer; transition: all .2s ease; }
.wb-buttonClose:hover { filter: brightness(90%); }
.wb-sendMessage:hover { background: #068377 !important; }
.wb-hidded { right: 0% !important; }
.messageAlert-success { display: none; }
.messageAlert-success p { text-align: center; margin: 1em 0; }
.whatsbutton-container { position: fixed; display: block; bottom: 25%; right: -100px; padding: 7px 25px 7px 8px; border-radius: 25px 0 0 25px; background-color: rgba(82.2, 208, 77.3, 0.91); transition: all .2s ease; cursor: pointer; -webkit-animation-name: WhatsButtonShow; -webkit-animation-duration: 1s; animation-name: WhatsButtonShow; animation-duration: 2s; }
.whatsbutton-icon { text-align: left; cursor: pointer; font: initial; box-sizing: border-box; vertical-align: initial; background-image: url(<?=$url?>imagens/icones/whatsapp-button.svg); background-size: 140px; background-repeat: no-repeat; background-position-y: center; width: 40px; height: 40px; display: inline-block; font-size: inherit; text-rendering: auto; margin-right: 0; color: #fff; float: left; }
.whatsbutton-text { float: left; display: flex; flex-direction: column; flex-wrap: wrap; padding-left: 1em; margin: .25em 0; }
.whatsbutton-text span { color: #fff !important; }
.wb-small, .wb-big { font-weight: 400; float: left; width: 100%; color: #fff; }
.wb-small { font-size: .75em; }
.wb-big { font-size: .85em; }
.whatsbutton-container:hover { right: 0; }
.whatsbutton-icon::before { content: '1'; width: 15px; height: 15px; border-radius: 50%; opacity: 0; background-color: red; height: 15px; line-height: 15px; position: absolute; font-size: .65em; font-weight: 700; font-family: Poppins, sans-serif; text-align: center; color: #fff; animation: WhatsButtonPulse .2s forwards; animation-delay: 15s; left: 8px; }
.whatsbutton-icon::after { content: ''; border-radius: 50%; background-color: #00e676; position: absolute; left: 10px; top: 9px; width: 36px; height: 36px; animation: WhatsButtonIcon 1.3s infinite; z-index: -1; }
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
@keyframes WhatsButtonShow {
	0% { margin-right: 100px; opacity: 0 }
}
@keyframes WhatsFormShow {
	0% { margin-left: 20%; opacity: 0 }
}
@keyframes WhatsButtonPulse {
	0% { opacity: 0; transform: translateY(-10px) }
	100% { opacity: 1; transform: translateY(0px) }
}
@keyframes WhatsButtonIcon {
	0% { box-shadow: 0 0 0 0 rgba(0, 230, 118, .8) }
	100% { box-shadow: 0 0 0 25px transparent }
}
@media only screen and (max-width:767px) {
	.wb-buttonClose { display: none; }
}

.h-400px  {
	height: 400px;
}

@media only screen and (max-width:768px) {
	.wb-head {
		height: 50%;
    	min-height: 80px;
    	padding: 0.5em;
 }
}


/* END WHATSAPP BUTTON */
/* *** RULES CSS *** */
	/* MARGIN */
	.m-auto { margin-left: auto !important ; margin-right: auto !important }
	.m-0 { margin: 0 !important }
	.m-1 { margin: .25rem !important }
	.m-2 { margin: .5rem !important }
	.m-3 { margin: .75rem !important }
	.m-4 { margin: 1rem !important }
	.m-5 { margin: 1.25rem !important }
	.mx-0 { margin-left: 0 !important ; margin-right: 0 !important }
	.mx-1 { margin-left: .25rem !important ; margin-right: .25rem !important }
	.mx-2 { margin-left: .5rem !important ; margin-right: .5rem !important }
	.mx-3 { margin-left: .75rem !important ; margin-right: .75rem !important }
	.mx-4 { margin-left: 1rem !important ; margin-right: 1rem !important }
	.mx-5 { margin-left: 1.25rem !important ; margin-right: 1.25rem !important }
	.my-0 { margin-top: 0 !important ; margin-bottom: 0 !important }
	.my-1 { margin-top: .25rem !important ; margin-bottom: .25rem !important }
	.my-2 { margin-top: .5rem !important ; margin-bottom: .5rem !important }
	.my-3 { margin-top: .75rem !important ; margin-bottom: .75rem !important }
	.my-4 { margin-top: 1rem !important ; margin-bottom: 1rem !important }
	.my-5 { margin-top: 1.25rem !important ; margin-bottom: 1.25rem !important }
	.mt-0 { margin-top: 0 !important }
	.mt-1 { margin-top: .25rem !important }
	.mt-2 { margin-top: .5rem !important }
	.mt-3 { margin-top: .75rem !important }
	.mt-4 { margin-top: 1rem !important }
	.mt-5 { margin-top: 1.25rem !important }
	.mb-0 { margin-bottom: 0 !important }
	.mb-1 { margin-bottom: .25rem !important }
	.mb-2 { margin-bottom: .5rem !important }
	.mb-3 { margin-bottom: .75rem !important }
	.mb-4 { margin-bottom: 1rem !important }
	.mb-5 { margin-bottom: 1.25rem !important }
	.ml-0 { margin-left: 0 !important }
	.ml-1 { margin-left: .25rem !important }
	.ml-2 { margin-left: .5rem !important }
	.ml-3 { margin-left: .75rem !important }
	.ml-4 { margin-left: 1rem !important }
	.ml-5 { margin-left: 1.25rem !important }
	.mr-0 { margin-right: 0 !important }
	.mr-1 { margin-right: .25rem !important }
	.mr-2 { margin-right: .5rem !important }
	.mr-3 { margin-right: .75rem !important }
	.mr-4 { margin-right: 1rem !important }
	.mr-5 { margin-right: 1.25rem !important }

	/* PADDING */
	.p-0 { padding: 0 !important }
	.p-1 { padding: .25rem !important }
	.p-2 { padding: .5rem !important }
	.p-3 { padding: .75rem !important }
	.p-4 { padding: 1rem !important }
	.p-5 { padding: 1.25rem !important }
	.px-0 { padding-left: 0 !important ; padding-right: 0 !important }
	.px-1 { padding-left: .25rem !important ; padding-right: .25rem !important }
	.px-2 { padding-left: .5rem !important ; padding-right: .5rem !important }
	.px-3 { padding-left: .75rem !important ; padding-right: .75rem !important }
	.px-4 { padding-left: 1rem !important ; padding-right: 1rem !important }
	.px-5 { padding-left: 1.25rem !important ; padding-right: 1.25rem !important }
	.py-0 { padding-top: 0 !important ; padding-bottom: 0 !important }
	.py-1 { padding-top: .25rem !important ; padding-bottom: .25rem !important }
	.py-2 { padding-top: .5rem !important ; padding-bottom: .5rem !important }
	.py-3 { padding-top: .75rem !important ; padding-bottom: .75rem !important }
	.py-4 { padding-top: 1rem !important ; padding-bottom: 1rem !important }
	.py-5 { padding-top: 1.25rem !important ; padding-bottom: 1.25rem !important }
	.pt-0 { padding-top: 0 !important }
	.pt-1 { padding-top: .25rem !important }
	.pt-2 { padding-top: .5rem !important }
	.pt-3 { padding-top: .75rem !important }
	.pt-4 { padding-top: 1rem !important }
	.pt-5 { padding-top: 1.25rem !important }
	.pb-0 { padding-bottom: 0 !important }
	.pb-1 { padding-bottom: .25rem !important }
	.pb-2 { padding-bottom: .5rem !important }
	.pb-3 { padding-bottom: .75rem !important }
	.pb-4 { padding-bottom: 1rem !important }
	.pb-5 { padding-bottom: 1.25rem !important }
	.pl-0 { padding-left: 0 !important }
	.pl-1 { padding-left: .25rem !important }
	.pl-2 { padding-left: .5rem !important }
	.pl-3 { padding-left: .75rem !important }
	.pl-4 { padding-left: 1rem !important }
	.pl-5 { padding-left: 1.25rem !important }
	.pr-0 { padding-right: 0 !important }
	.pr-1 { padding-right: .25rem !important }
	.pr-2 { padding-right: .5rem !important }
	.pr-3 { padding-right: .75rem !important }
	.pr-4 { padding-right: 1rem !important }
	.pr-5 { padding-right: 1.25rem !important }

		/* RESPONSIVE FONT-SIZE */
		.fs-14 { font-size: 1em !important}
		.fs-16 { font-size: 1.14em !important}
		.fs-18 { font-size: 1.28em !important}
		.fs-20 { font-size: 1.42em !important}
		.fs-22 { font-size: 1.57em !important}
		.fs-24 { font-size: 1.71em !important}
		.fs-26 { font-size: 1.85em !important}
	
		.fs-28 { font-size: 2em !important}
		.fs-30 { font-size: 2.14em !important}
		.fs-32 { font-size: 2.28em !important}
		.fs-34 { font-size: 2.42em !important}
		.fs-36 { font-size: 2.57em !important}
		.fs-38 { font-size: 2.71em !important}
		.fs-40 { font-size: 2.85em !important}
	
		.fs-42 { font-size: 3em !important}
		.fs-44 { font-size: 3.14em !important}
		.fs-46 { font-size: 3.28em !important}
		.fs-48 { font-size: 3.42em !important}
		.fs-50 { font-size: 3.57em !important}
		.fs-52 { font-size: 3.71em !important}
		.fs-54 { font-size: 3.85em !important}
	
		.fs-56 { font-size: 4em !important}
		.fs-58 { font-size: 4.14em !important}
		.fs-60 { font-size: 4.28em !important}
		.fs-62 { font-size: 4.42em !important}
		.fs-64 { font-size: 4.57em !important}
		.fs-66 { font-size: 4.71em !important}
		.fs-68 { font-size: 4.85em !important}
	
		.fs-70 { font-size: 5em !important}
		.fs-72 { font-size: 5.14em !important}
		.fs-74 { font-size: 5.28em !important}
		.fs-76 { font-size: 5.42em !important}
		.fs-78 { font-size: 5.57em !important}
		.fs-80 { font-size: 5.71em !important}
		.fs-82 { font-size: 5.85em !important}
	
		.fs-84 { font-size: 6em !important}
		.fs-86 { font-size: 6.14em !important}
		.fs-88 { font-size: 6.28em !important}
		.fs-90 { font-size: 6.42em !important}
		.fs-92 { font-size: 6.57em !important}
		.fs-94 { font-size: 6.71em !important}
		.fs-96 { font-size: 6.85em !important}
	
		.fs-98  { font-size: 7em !important}
		.fs-100 { font-size: 7.14em !important}
		.fs-102 { font-size: 7.28em !important}
		.fs-104 { font-size: 7.42em !important}
		.fs-106 { font-size: 7.57em !important}
		.fs-108 { font-size: 7.71em !important}
		.fs-110 { font-size: 7.85em !important}
	

	/* EXTRA LARGE DEVICE */
	@media only screen and (min-width: 1024px) {

		/* WIDTH/HEIGHT */
		.w-100 { width: 100% }
		.mw-100 { max-width: 100% }
		.h-100 { height: 100% }
		.mh-100 { max-height: 100% }
		.w-75 { width: 75% }
		.mw-75 { max-width: 75% }
		.h-75 { height: 75% }
		.mh-75 { max-height: 75% }
		.w-50 { width: 50% }
		.mw-50 { max-width: 50% }
		.h-50 { height: 50% }
		.mh-50 { max-height: 50% }
		.w-25 { width: 25% }
		.mw-25 { max-width: 25% }
		.h-25 { height: 25% }
		.mh-25 { max-height: 25% }
		.w-0 { width: 0% }
		.mw-0 { max-width: 0% }
		.h-0 { height: 0% }
		.mh-0 { max-height: 0% }

	}

	/* COLORS */
	.primary-color { color: var(--primary-color); }
	.secondary-color { color: var(--secondary-color); }
	.grey { color: var(--grey); }
	.black { color: #000; }
	.white { color: #FFF; }
	.green { color: var(--primary-color);}
	.dark { color: var(--dark); }
	.light { color: var(--light); }

	/* IMAGE ALIGN */
	.picture-center { display: block; margin-left: auto; margin-right: auto; }
	.picture-left { float: left; }
	.picture-right { float: right; }

	/* FONT SIZE */
	.large { font-size: large }
	.larger { font-size: larger }
	.x-large { font-size: x-large }
	.xx-large { font-size: xx-large }
	.medium { font-size: medium }
	.small { font-size: small }
	.smaller { font-size: smaller }
	.x-small { font-size: x-small }
	.xx-small { font-size: xx-small }
	.display-1 { font-size: 6rem }
	.display-2 { font-size: 5.5rem }
	.display-3 { font-size: 4.5rem }
	.display-4 { font-size: 3.5rem }

	/* FONT WEIGHT */
	.font-weight-normal { font-weight: 400 }
	.font-weight-bold { font-weight: 700 }

	.fw-200 { font-weight: 200; }
	.fw-300 { font-weight: 300; }
	.fw-400 { font-weight: 400; }
	.fw-500 { font-weight: 500; }
	.fw-600 { font-weight: 600; }
	.fw-700 { font-weight: 700; }
	.fw-800 { font-weight: 800; }
	.fw-900 { font-weight: 900; }

	/* TEXT TRANSFORM */
	.text-lowercase { text-transform: lowercase }
	.text-uppercase { text-transform: uppercase }
	.text-capitalize { text-transform: capitalize }
	.text-left { text-align: left }
	.text-center { text-align: center }
	.text-right { text-align: right }
	.text-justify { text-align: justify }

	/* DISPLAY */
	.d-none { display: none }
	.d-inline { display: inline }
	.d-inline-block { display: inline-block }
	.d-block { display: block }
	.d-table { display: table }
	.d-table-cell { display: table-cell }
	.d-table-row { display: table-row }
	.d-flex { display: flex }
	.d-flex-wrap { flex-wrap: wrap }
	.d-inline-flex { display: inline-flex }

	/* GAP FOR ** DISPLAY FLEX ** ELEMENTS */
	.gap-0 { gap: 0 }
	.gap-10 { gap: 10px }
	.gap-20 { gap: 20px }
	.gap-30 { gap: 30px }
	.gap-40 { gap: 40px }
	.gap-50 { gap: 50px }
	.gap-60 { gap: 60px }
	.gap-70 { gap: 70px }
	.gap-80 { gap: 80px }
	.gap-90 { gap: 90px }
	.gap-100 { gap: 100px }

	/* SMALL DEVICE */
	@media only screen and (max-width: 576px) {
		[class="gap-"] {
			gap: 1.5em;
		}
	}

	/* JUSTIFY CONTENT */
	.justify-content-center { justify-content: center }
	.justify-content-start { justify-content: flex-start }
	.justify-content-end { justify-content: flex-end }
	.justify-content-between { justify-content: space-between }
	.justify-content-around { justify-content: space-around }

	/* MEDIUM DEVICE */
	@media only screen and (max-width: 768px) {
		.justify-content-md-center { justify-content: center }
		.justify-content-md-start { justify-content: flex-start }
		.justify-content-md-end { justify-content: flex-end }
		.justify-content-md-between { justify-content: space-between }
		.justify-content-md-around { justify-content: space-around }
	}

	/* SMALL DEVICE */
	@media only screen and (max-width: 576px) {
		.justify-content-sm-center { justify-content: center }
		.justify-content-sm-start { justify-content: flex-start }
		.justify-content-sm-end { justify-content: flex-end }
		.justify-content-sm-between { justify-content: space-between }
		.justify-content-sm-around { justify-content: space-around }
	}

	/* ALIGN ITEMS */
	.align-items-center { align-items: center }
	.align-items-start { align-items: flex-start }
	.align-items-end { align-items: flex-end }

	/* MEDIUM DEVICE */
	@media only screen and (max-width: 768px) {
		.align-items-md-center { align-items: center }
		.align-items-md-start { align-items: flex-start }
		.align-items-md-end { align-items: flex-end }
	}

	/* SMALL DEVICE */
	@media only screen and (max-width: 576px) {
		.align-items-sm-center { align-items: center }
		.align-items-sm-start { align-items: flex-start }
		.align-items-sm-end { align-items: flex-end }
	}

	/* FLEX DIRECTION */
	.flex-row { flex-direction: row }
	.flex-column { flex-direction: column }
	.flex-column-reverse { flex-direction: column-reverse }
	.flex-row-reverse { flex-direction: row-reverse }

	/* MEDIUM DEVICE */
	@media only screen and (max-width: 768px) {
		.flex-md-row { flex-direction: row }
		.flex-md-column { flex-direction: column }
		.flex-md-column-reverse { flex-direction: column-reverse }
		.flex-md-row-reverse { flex-direction: row-reverse }
	}

	/* SMALL DEVICE */
	@media only screen and (max-width: 576px) {
		.flex-sm-row { flex-direction: row }
		.flex-sm-column { flex-direction: column }
		.flex-sm-column-reverse { flex-direction: column-reverse }
		.flex-sm-row-reverse { flex-direction: row-reverse }
	}

	/* FLOAT */
	.float-left { float: left }
	.float-right { float: right }
	.float-none { float: none }

	/* POSITION */
	.position-relative { position: relative }
	.position-absolute { position: absolute }
	.position-fixed { position: fixed }
	.t-0 { top: 0 }
	.b-0 { bottom: 0 }
	.l-0 { left: 0 }
	.r-0 { right: 0 }
	.t-50 { top: 50% }
	.b-50 { bottom: 50% }
	.l-50 { left: 50% }
	.r-50 { right: 50% }

	/* BACKGROUND */

	.bg-primary {
		background: var(--second-color);
	}

	/* OBJECT FIT */
	.object-fit-cover { object-fit: cover }
	.object-fit-contain { object-fit: contain }

	/* BORDER  */
	.rounded { border-radius: 15px }
	.rounded-circle { border-radius: 50% }

	.border { border: 1px solid #dee2e6 }
	.border-top { border-top: 1px solid #dee2e6 }
	.border-bottom { border-bottom: 1px solid #dee2e6 }
	.border-left { border-left: 1px solid #dee2e6 }
	.border-right { border-right: 1px solid #dee2e6 }
	.border-dark { border-color: var(--dark) }
	.border-light { border-color: var(--light) }

	/* HIDDEN */
	.hidden { display: none; visibility: hidden }
	.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px }
	.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto }
	.invisible { visibility: hidden }

	/* CLEAR */
	.clearfix { overflow: auto }
	.clearfix::after { content: ""; clear: both; display: block }
	.clear { clear: both }

	/* HIDDEN/SHOW DEVICES */
	.show-mobile { display: none }
	.show-desk { display: block }
	.hide-mobile { display: block }
	.hide-desk { display: none }

	/* MEDIUM DEVICE */
	@media only screen and (max-width: 768px) {
		.show-mobile { display: block }
		.show-desk { display: none }
		.hide-desk { display: block }
		.hide-mobile { display: none }
	}

	/* COL SYSTEM  */
	.row { display: flex; flex-wrap: wrap }
	.row:after, .row:before { clear: both }

	.col-1 { width: 8.33% }
	.col-2 { width: 16.66% }
	.col-3 { width: 25% }
	.col-4 { width: 33.33% }
	.col-5 { width: 41.66% }
	.col-6 { width: 50% }
	.col-7 { width: 58.33% }
	.col-8 { width: 66.66% }
	.col-9 { width: 75% }
	.col-10 { width: 83.33% }
	.col-11 { width: 91.66% }
	.col-12 { width: 100% }

	/* EXTRA LARGE DEVICE */
	@media only screen and (max-width: 1024px) {
		.col-xl-1 { width: 8.33% }
		.col-xl-2 { width: 16.66% }
		.col-xl-3 { width: 25% }
		.col-xl-4 { width: 33.33% }
		.col-xl-5 { width: 41.66% }
		.col-xl-6 { width: 50% }
		.col-xl-7 { width: 58.33% }
		.col-xl-8 { width: 66.66% }
		.col-xl-9 { width: 75% }
		.col-xl-10 { width: 83.33% }
		.col-xl-11 { width: 91.66% }
		.col-xl-12 { width: 100% }
	}

	/* LARGE DEVICE */
	@media only screen and (max-width: 992px) {
		.col-lg-1 { width: 8.33% }
		.col-lg-2 { width: 16.66% }
		.col-lg-3 { width: 25% }
		.col-lg-4 { width: 33.33% }
		.col-lg-5 { width: 41.66% }
		.col-lg-6 { width: 50% }
		.col-lg-7 { width: 58.33% }
		.col-lg-8 { width: 66.66% }
		.col-lg-9 { width: 75% }
		.col-lg-10 { width: 83.33% }
		.col-lg-11 { width: 91.66% }
		.col-lg-12 { width: 100% }
	}

	/* MEDIUM DEVICE */
	@media only screen and (max-width: 768px) {
		.col-md-1 { width: 8.33% }
		.col-md-2 { width: 16.66% }
		.col-md-3 { width: 25% }
		.col-md-4 { width: 33.33% }
		.col-md-5 { width: 41.66% }
		.col-md-6 { width: 50% }
		.col-md-7 { width: 58.33% }
		.col-md-8 { width: 66.66% }
		.col-md-9 { width: 75% }
		.col-md-10 { width: 83.33% }
		.col-md-11 { width: 91.66% }
		.col-md-12 { width: 100% }
	}

	/* SMALL DEVICE */
	@media only screen and (max-width: 576px) {
		[class*=col-] { width: 100% }
		.col-sm-1 { width: 8.33% }
		.col-sm-2 { width: 16.66% }
		.col-sm-3 { width: 25% }
		.col-sm-4 { width: 33.33% }
		.col-sm-5 { width: 41.66% }
		.col-sm-6 { width: 50% }
		.col-sm-7 { width: 58.33% }
		.col-sm-8 { width: 66.66% }
		.col-sm-9 { width: 75% }
		.col-sm-10 { width: 83.33% }
		.col-sm-11 { width: 91.66% }
		.col-sm-12 { width: 100% }
	}

	/* EXTRA SMALL DEVICE */
	@media only screen and (max-width: 320px) {
		.col-xs-1 { width: 8.33% }
		.col-xs-2 { width: 16.66% }
		.col-xs-3 { width: 25% }
		.col-xs-4 { width: 33.33% }
		.col-xs-5 { width: 41.66% }
		.col-xs-6 { width: 50% }
		.col-xs-7 { width: 58.33% }
		.col-xs-8 { width: 66.66% }
		.col-xs-9 { width: 75% }
		.col-xs-10 { width: 83.33% }
		.col-xs-11 { width: 91.66% }
		.col-xs-12 { width: 100% }
	}

	/* GRID SYSTEM */
	.grid { display: grid }
	.grid:after, .grid:before { clear: both }

	.grid-col-2 { grid-template-columns: repeat(2, 1fr); grid-gap: 25px; width: 100% }
	.grid-col-3 { grid-template-columns: repeat(3, 1fr); grid-gap: 25px; width: 100% }
	.grid-col-4 { grid-template-columns: repeat(4, 1fr); grid-gap: 25px; width: 100% }
	.grid-col-5 { grid-template-columns: repeat(5, 1fr); grid-gap: 25px; width: 100% }
	.grid-col-6 { grid-template-columns: repeat(6, 1fr); grid-gap: 25px; width: 100% }
	.grid-col-7 { grid-template-columns: repeat(7, 1fr); grid-gap: 25px; width: 100% }
	.grid-col-8 { grid-template-columns: repeat(8, 1fr); grid-gap: 25px; width: 100% }

	/* GAP FOR ** DISPLAY GRID ** ELEMENTS */
	.grid-gap-0 { grid-gap: 0 }
	.grid-gap-10 { grid-gap: 10px }
	.grid-gap-20 { grid-gap: 20px }
	.grid-gap-30 { grid-gap: 30px }
	.grid-gap-40 { grid-gap: 40px }
	.grid-gap-50 { grid-gap: 50px }
	.grid-gap-60 { grid-gap: 60px }
	.grid-gap-70 { grid-gap: 70px }
	.grid-gap-80 { grid-gap: 80px }
	.grid-gap-90 { grid-gap: 90px }
	.grid-gap-100 { grid-gap: 100px }

	/* MEDIUM DEVICE */
	@media only screen and (max-width: 768px) {
		[class*="grid-gap-"] {
			grid-gap: 1.5em;
		}	
	}

	/* SMALL DEVICE TO LARGE DEVICE */
	@media only screen and (min-width:576px) and (max-width:992px) {
		[class*="grid-col"]:not(.grid-col-3) { grid-template-columns: repeat(2, 1fr) }
	}

	/* SMALL DEVICE */
	@media only screen and (max-width: 576px) {
		[class*="grid-col-"] { grid-template-columns: 100%; }
	}

	/* *** PULL YOUR CUSTOM SITE CSS *RULES* BELLOW *** */

	/* ADDRESS */
	.address { font-style: normal; }
	.address :is(span, a) { display: block; font: 12px/22px var(--primary-font); }
/* *** END RULES CSS *** */
